@page "/Parent/Student/Index"
@model CEG_RazorWebApp.Pages.Parent.Children.StudentIndexModel
@{
    ViewData["Title"] = "Parent All Children Page";
    Layout = "~/Pages/Shared/_PLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="/Parent/Student/Index">Children</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <!-- dung vong for o day -->
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>All your Student Accounts</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="alertContainer"></div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- home1 -->
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <div class="row">
                                    </div>
                                    <div id="student-table_wrapper" class="dataTables_wrapper no-footer">
                                        <table id="student-table"
                                               class="table table-stripped table-bordered dataTable no-footer"
                                               aria-describedby="student-table_info">
                                            <thead>
                                                <tr>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Student User Name: activate to sort column ascending">
                                                        Username
                                                    </th>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Student Full Name: activate to sort column ascending">
                                                        Full name
                                                    </th>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="account-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Gender: activate to sort column ascending">
                                                        Gender
                                                    </th>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="account-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Student Created Date: activate to sort column ascending">
                                                        Created Date
                                                    </th>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Student Description: activate to sort column ascending">
                                                        Description
                                                    </th>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Student Current Level: activate to sort column ascending">
                                                        Current Level
                                                    </th>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Student Age: activate to sort column ascending">
                                                        Age
                                                    </th>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Student Birth Date: activate to sort column ascending">
                                                        Birth Date
                                                    </th>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="account-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Status: activate to sort column ascending">
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end tapnet -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        var token = sessionStorage.getItem('token');
        var apiUrl = sessionStorage.getItem('apiUrl');
        var id = sessionStorage.getItem('usrId');
        var studentList = [];
        var studentTable;
        $(document).ready(function () {
            // Registering the custom feature with DataTables
            DataTable.feature.register('searchIcon', function (settings, opts) {
                // Set default options
                let options = Object.assign({
                    iconClass: 'bx bx-search-alt question-search-icon',
                    hideLabel: true // Hide search label
                }, opts);

                // Create a container for the icon
                let container = document.createElement('div');
                // container.classList.add('dt-custom-toolbar'); // Optional custom class for styling

                // Create the icon element
                let icon = document.createElement('i');
                icon.className = options.iconClass;

                // Check if pagination is enabled
                // if (settings.oFeatures.bFilter) {
                //     console.log(settings.oFeatures.bFilter);
                //     console.log('Pagination is enabled for this DataTable.');
                // }

                setTimeout(() => {
                    // Find the .dt-search container inside the DataTable wrapper
                    let searchContainer = $(settings.nTableWrapper).find('.dt-search');
                    if (searchContainer.length) {
                        searchContainer.append(icon);
                    } else {
                        // Append icon to container
                        container.appendChild(icon);
                        // If .dt-search doesn't exist, insert the container in the DataTable toolbar instead
                        $(settings.nTableWrapper).prepend(container);
                    }
                    if (options.hideLabel) {
                        // Find the .dt-search label container inside the DataTable wrapper
                        let searchLabel = searchContainer.find('label');
                        if (searchLabel.length) {
                            searchLabel.text('');
                        } else {
                            console.log('Label of search div not found!');
                        }
                    }
                }, 100);
                return '';
            });
            studentTable = new DataTable('#student-table', {
                data: [],
                deferRender: false,
                responsive: true,
                columns: [
                    {
                        data: 'account.username'
                    },
                    { data: 'account.fullname' },
                    { data: 'account.gender' },
                    {
                        data: 'account.createdDate',
                        render: DataTable.render.date("dddd, DD/MM/YYYY")
                    },
                    { data: 'description' },
                    { data: 'curLevel' },
                    { data: 'age' },
                    {
                        data: 'birthdate',
                        render: DataTable.render.date("dddd, DD/MM/YYYY")
                    },
                    { data: 'account.status' },
                ],
                layout: {
                    topEnd: {
                        search: {
                            placeholder: 'search info...'
                        },
                        searchIcon: {
                        }
                    }
                }
            });
            callApiGetStudentList();
        });
        
        function callApiGetStudentList() {
            $.ajax({
                url: apiUrl + `Student/ByParent/${id}`, // API endpoint
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token // Include the JWT token
                },
                success: function (response) {
                    // Log the entire response to the console for debugging
                    // console.log("Returned object:", response);

                    // Check if the status is true
                    if (response.status) {
                        studentList = response.data;
                        if (studentList && studentList.length > 0) {
                            studentTable.clear().rows.add(studentList).draw();
                        }
                        //showAlert('success', 'Student list get successfully!');
                    } else {
                        showAlert('error', "Error:" + response.errorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    // Attempt to parse the response text if it is available
                    var errorResponse = xhr.responseText ? JSON.parse(xhr.responseText) : {};

                    // Extract the custom error message if it exists
                    var errorMessage = errorResponse.errorMessage || errorResponse.title || "An unknown error occurred.";
                    // Check if errorResponse.errors exists and is an object
                    if (errorResponse.errors && typeof errorResponse.errors === 'object') {
                        // Loop through each field in the errors object and append to the errorMessage
                        for (var field in errorResponse.errors) {
                            if (errorResponse.errors.hasOwnProperty(field)) {
                                // Add each error message for the field, joining multiple messages if they exist
                                var fieldErrors = errorResponse.errors[field].join(", ");
                                errorMessage += `\n${field}: ${fieldErrors}`;
                            }
                        }
                    }
                    // Display the error message using your custom showAlert function
                    showAlert('error', "Error: \n" + errorMessage);
                }
            });
        }
    </script>
</body>
</html>