@page "/Home/Class/Index"
@model CEG_RazorWebApp.Pages.Home.ClassIndexModel
@{
    ViewData["Title"] = "Children English Game Class List Page";
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Meeting.css">
</head>
<body class="background">
    <div class="Title"><h1>Classes</h1></div>
    <hr />
    <div class="header__breadcrumb container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Classes</li>
            </ol>
        </nav>
    </div>
    <!-- CONTENT -->
    <section class="content__list-room container" id="full-filter">
        <partial name="PartialViews/_ClassListPartial" />
    </section>
    <script>
        var apiUrl = sessionStorage.getItem('apiUrl');
    </script>
</body>
</html>