@page "/Admin/Teacher/{accountId}/Info"
@model CEG_RazorWebApp.Pages.Admin.Account.TeacherInfoModel
@{
    ViewData["Title"] = "Teacher Account Info Page";
    var accountInfo = Model.AccountInfo;
    var updateTeacher = Model.UpdateTeacherInfo;
    var updatePassword = Model.UpdatePasswordInfo;
    Layout = Model.LayoutUrl;
    var accountId = Model.AccountId;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="/Admin/Account/Index">Account</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="/Admin/Teacher/@accountId/Info">@accountId</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="/Admin/Teacher/@accountId/Info">Info</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div id="alertContainer"></div>
                <div class="row">
                    <div class="col-12 customer-booking">
                        <div class="row">
                            <div class="card profile col-12 mb-4">
                                <div class="card-header">
                                    <h4 id="account-headerinfo">Account Information</h4>
                                    <div class="edit-info" id="teacher-info-edit-toggle">
                                        <i class='bx bxs-adjust bx-sm' data-toggle="modal" data-target="#changeStatus"></i>
                                        <i class='bx bxs-edit bx-sm' data-toggle="modal" data-target="#editTeacher"></i>
                                        <i class='bx bxs-lock bx-sm' data-toggle="modal" data-target="#changePassword"></i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Account ID:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="account-id">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Username:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="account-username">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Full Name:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="account-fullname">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Gender:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="account-gender">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Email:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="teacher-account-email">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Phone Number:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="teacher-account-phonenumber">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Address:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="teacher-account-address">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Created Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="account-createddate">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Role:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="account-role">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Status:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span id="account-status">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="editTeacher" class="modal fade" role="dialog">

    </div>
    <div id="changePassword" class="modal fade" role="dialog">

    </div>
    <div id="changeStatus" class="modal fade" role="dialog">

    </div>
    <script>
        var token = sessionStorage.getItem('token');
        var apiUrl = sessionStorage.getItem('apiUrl');
        $(document).ready(function () {
            callApiGetTeacherDetail();
        });
        function callApiGetTeacherDetail() {
            $.ajax({
                url: apiUrl + 'Teacher/Account/@accountId', // API endpoint
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token// Include the JWT token
                },
                success: function (response) {
                    // Log the entire response to the console for debugging
                    console.log("Returned object:", response);

                    // Check if the status is true
                    if (response.status) {
                        setAccountDisplay(response.data);
                    } else {
                        console.error("API returned false status.");
                    }
                },
                error: function (error) {
                    alert("Error in api call:" + error);
                    console.error("Error in api call:", error);
                    //showAlert('success', 'Data fetched successfully.');
                }
            });
        }
        function setAccountDisplay(data) {
            $('#account-headerinfo').text(data.account.role.roleName + ' Account Information');
            $('#account-id').text(data.account.accountId);
            $('#account-username').text(data.account.username);
            $('#account-fullname').text(data.account.fullname);
            $('#teacher-account-email').text(data.email);
            $('#teacher-account-phonenumber').text(data.phone);
            $('#teacher-account-address').text(data.address);
            $('#account-gender').text(data.account.gender);
            $('#account-createddate').text(formatDate(data.account.createdDate)); // Format the date if needed
            $('#account-role').text(data.account.role.roleName);
            $('#account-status').text(data.account.status);
        }
        function getStatusOptions(selectedStatus) {
            var options = ['Inactive', 'Active', 'Expired', 'Denied', 'Suspended']; // Example statuses
            var html = '';

            options.forEach(function (status) {
                html += `<option value="${status}" ${selectedStatus === status ? 'selected' : ''}>${status}</option>`;
            });

            return html;
        }
    </script>
</body>
</html>